<p>Xin chào <%= @user.fullname || @user.email %>,</p>
<p>Bạn đã yêu cầu đặt lại mật khẩu. Nhấn vào liên kết bên dưới để đặt lại mật khẩu:</p>
<p>
  <a href="<%= @reset_password_url %>">Đặt lại mật khẩu</a>
</p>
<p>Nếu bạn không yêu cầu, vui lòng bỏ qua email này.</p>
